---
title: WeChat mini program developers available for hire
---

<header class="text-center">
  <h1>
    Developers for WeChat mini programs and official accounts
  </h1>

  <ul class="list-inline">
    <li><i class="icon iconfont icon-weixin"></i></li>
    <li><i class="icon iconfont icon-xiaochengxu"></i></li>
    <li><i class="icon iconfont icon-pengyouquan"></i></li>
    <li><i class="icon iconfont icon-weixinsaoma"></i></li>
    <li><i class="icon iconfont icon-weixinzhifu"></i></li>
    <li><i class="icon iconfont icon-weixinyaoyiyaoicon"></i></li>
  </ul>

  <p>All individuals below can design, code, ship apps for <strong>Tencent WeChat (Weixin 微信)</strong>; connecting your brand to a billion users.</p>

</header>

<div class="wrapper">

  <div class="collection">

  <% data.developers.shuffle.each do |dev| %>

    <div class="card">
      <img src="images/QR/<%= dev.QR %>" alt="" class="QR">
      <div class="overlay-text">
        <span>WeChat ID:<br>
        <strong><%= dev.wechatID %></strong><br>
        </span>
      </div>
      <div class="bottom-text">
        <div>
          <p><%= dev.name %></p>
          <span><%= dev.location %></span>
        </div>
        <a href="<%= dev.url %>">
          <img src="<%= dev.avatar %>" alt="" class="avatar">
        </a>
      </div>
    </div>

  <% end %>

  </div>

</div>

<footer class="text-center">

  <h2>People at <a href="https://www.lewagon.com/">Le Wagon</a> love to code for WeChat 微信</h2>
  <small>
  WeChat 微信,
  WeChat mini programs 微信小程序,
  WeChat official accounts 微信公众账号, and
  Wechat at work 企业微信 are brands of <em>Tencent Holdings 腾讯</em>
  </small>

</footer>
