---
title: WeChat mini program developers available for hire
---

<header class="text-center">
  <h1>
    Developers for WeChat mini programs and official accounts
  </h1>

  <ul class="list-inline">
    <li><i class="icon iconfont icon-weixin"></i></li>
    <li><i class="icon iconfont icon-xiaochengxu"></i></li>
    <li><i class="icon iconfont icon-pengyouquan"></i></li>
    <li><i class="icon iconfont icon-weixinsaoma"></i></li>
    <li><i class="icon iconfont icon-weixinzhifu"></i></li>
    <li><i class="icon iconfont icon-weixinyaoyiyaoicon"></i></li>
  </ul>

  <p>All individuals below can design, code, ship digital services for Tencent WeChat (Weixin微信); connecting your brand to a billion users.</p>

</header>

<div class="wrapper">

  <div class="collection">

  <% data.developers.shuffle.each do |dev| %>

    <div class="card">
      <a href="#" onclick="return false;" class="QR" style="background-image: url(images/QR/<%= dev.QR %>);">
      </a>
      <div class="overlay-text">
        <span>WeChat ID:<br>
        <strong><%= dev.wechatID %></strong><br>
        <i class="icon iconfont icon-weixinsaoma"></i>
        </span>
      </div>
      <div class="bottom-text">
        <div>
          <p><%= dev.name %></p>
          <span><%= dev.location %></span>
        </div>
        <a href="<%= dev.url %>">
          <img src="<%= dev.avatar %>" alt="" class="avatar">
        </a>
      </div>
    </div>

  <% end %>

  </div>

</div>

<header class="text-center">

  Code in WeChat | Le Wagon

</header>
